{
  "TOKEN": "insert bot token here",
  "PREFIX_TABLE_PATH": "data/prefixes.json",
  "GUILD_TABLE_PATH": "data/guilds.json",
  "USER_TABLE_PATH": "data/user.json"
  "EXTENSIONS": [
    "plugins.core",
    "plugins.moderation"
  ],
  "SECRET_KEY": "h0iSjfp0PA50KoLZ",
  "DISCORD_CLIENT_ID": 746662527272809292,
  "DISCORD_CLIENT_SECRET": "ofsJy4up0N1nMvHk_KN8c0PDmTUMASPsJ_Jy4up0N1nMvHk",
  "DISCORD_REDIRECT_URI": "https://www.bullshit.software/callback"
}
